# Git
.git
.gitignore

# Node
**/node_modules
**/.npm
**/.yarn

# Builds
**/dist
**/build

# Database
db-data/

# Env
.env
.env.*

# IDE / tooling
.vscode
.vscode-server
.metals

# OS junk
.DS_Store
**/.DS_Store

# Python
__pycache__
*.log
