{
  "printWidth": 80,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": ["*.js", "*.jsx"],
      "options": {
        "singleQuote": true,
        "trailingComma": "all"
      }
    },
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "singleQuote": true,
        "trailingComma": "all"
      }
    },
    {
      "files": ["*.css"],
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    }
  ]
}
